body {
    background-color: #f5e9b0;
}

.container {
    padding : 20px;
}

.header-footer {
    background-color: #a5694f;
    padding: 10px;
    padding-left: 50px;
    list-style: none;
}

.header-footer > ul {
    padding-inline-start: 0px;
}

.menu-item {
    display: inline;
    margin-right: 20px;
}

.link {
    color: #f2dec2;
    text-decoration: none;
}

.logo-pic {
    height: 63px;
    width: 42px;
}

.list-items {
    display: table-row;
}

.raw-item{
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    display: table-cell;
    border-right: 3px solid #a5694f;
}

.item-card {
    display: table-cell;
    background-color: fffdd0;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    width: 150px;
}

.item-card:hover {
    outline: 1px solid #fffdd0;
}